.footer {
  margin: 90px 0 20px;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer__menu-list {
  width: 255px;
  gap: 30px;
}

.footer__menu-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  /* width: 255px; */
}

.footer__menu-item + .footer__menu-item {
  font-size: 14px;
  padding-top: 15px;
}

.footer__img {
  padding-right: 20px;
  
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
}

.copy__nav-list {
  display: flex;
  justify-content: space-around;
  gap: 180px;
  white-space: nowrap;
  border-top: 1px solid #000;
}

.copy__nav-item {
  max-width: 193px;
  font-size: 14px;
  padding: 20px 0 20px;
}
